.page.theme_dark {
  --body-bg-color: #000028;
  --color-heading: #DB00FF;
  --accent-color: #ff0070;
  --color-main-border: #ff0070;
  --theme-btn-color: #ff0070;
  --theme-btn-hover: rgba(255, 0, 112, .4);
  --block-heading-color: #FF0070;
  --color-text: #F1B2CE;
  --secondary-color: #000028;
  --rec-display: inline;
  --bg-image: url(../images/cover-image-dark.png);
}